{% extends 'main-template2.html' %}
    {% block contenido %}
    {% load static %}
            
    <h3>Sobre <span>Nosotros</span></h3>
    <p class="p1">Gracias a la comunidad de CoderHouse surgió este grupo que nos dio la oprtunidad de desarrollar esta web inicial sobre un gusto compartido: <span> EL CINE. </span> </p>
    <p>La web actual que se muestra busca tener bases relacionadas para permitir a los usuarios acceso a una base de datos sólidas, con posibilidad de compartir 
      todo tipo de material y conocimientos mediantes posteos, siempre supervisados por los administradores. El registro de cines en con vistas de poder publicar horarios
      y llegar a gestionar reservas de tickets
    </p>
             
            
          <h3>Nuestro <span>Grupo 1</span></h3>
          <ul class="list">
            <li><img src="{% static 'cineproyecto/images/2page-img1.jpg'%}" style= "max-width:20%; height:auto;"/><a href="https://www.linkedin.com/in/juan-pablo-baigorria-a95286104/">Juan Pablo Baigorria</a><br />
              Ingeniero Electrónico, saxofonosista y amante del deporte. PM en proyectos electronicos dedicados a resolver la logística de grandes depósitos.</li>
            <li><img src="{% static 'cineproyecto/images/2page-img2.jpg'%}" style= "max-width:15%; height:auto;" /><a href="https://www.linkedin.com/in/lucas-migliaccio-828742196/">Lucas Miglaccio</a><br />
              Estudiante universitario de ingeniería informática, con amplios gustos en la programación y deportes, me agradan los desafíos.</li>
            <li><img src="{% static 'cineproyecto/images/2page-img3.jpg' %}" style= "max-width:20%; height:auto;" /><a href="https://www.linkedin.com/in/lucas-romanelli-62992841/">Lucas Romanelli</a><br />
              Contador Público y amante del cine en todas sus formas. Me gusta viajar. Hace un tiempo comence con la afición de lenguajes de programación, sobre todo para manipulación de datos.
            </li>
          </ul>
        
      
      {% endblock contenido %} 