{% extends 'main-template.html' %}
    {% block contenido %}

    <body>

        
    <div class="tail-top">
        <div class="tail-bottom">
            <div id="main">
                <div id="content">
                    <div class="line-hor"></div>
                    <div class="box">
                      <div class="border-right">
                        <div class="border-left">
                          <div class="inner">
                            
                            {% if request.user.is_staff %}
                            <a href='{% url "Movies" %}' color="black">Crear nueva película </a> &emsp; 
                            {% endif  %}
                            <a href='{% url "FindMovie" %}'>Buscar película </a> &emsp; 
                            <br><br><br>
                            <h4> Peliculas Registradas </h4>
                        {% for movie in object_list%}
                            <li>
                                {{movie}} &emsp;
                                <a href='{% url "MovieDetail" movie.id %}'> Detalles </a> &nbsp;
                                {% if request.user.is_staff %}
                                <a href='{% url "MovieEdit" movie.id %}'> Editar </a> &nbsp;
                                <a href='{% url "MovieDelete" movie.id %}'> Eliminar </a> &nbsp;
                                {% endif  %}
                                
                                
                                
                                
                            </li>
                        {% endfor %}
                        
                         <!-- <h3> Películas del site </h3>
        
                         {% for movie in movies %}
                         <li>{{movie.name}}   -   {{movie.dir}}   -   {{movie.act}}   -   {{movie.date}}</li>
                         {% endfor %} -->

                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>  
    </body>
    {% endblock contenido %}
