{% extends 'padre.html' %}

    {% block contenido %}
    <h1>CREAR UN CINE</h1>

    {% if myform.errors %}

    <p style="color: greenyellow;"> Revisar los datos ingresados </p>

    {% endif %}

    <form action="/cineproyecto/new-cinema-form/" method="POST">{% csrf_token %}

        <!-- Acta está la relacion de Formulario de DJANGO reemplazando a el HTML Form-->

        <table>

            {{myform.as_table}}

        </table>

        <input type="submit" value="INGRESAR">

    </form>

    {% endblock contenido%}