{% extends 'main-template.html' %}
    
    {% block contenido %}

    <div class="tail-top">
        <div class="tail-bottom">
            <div id="main">
                <div id="content">
                    <div class="box">
                      <div class="border-right">
                        <div class="border-left">
                          <div class="inner">

                            <a href='{% url "FindDirector" %}'>Buscar Director </a> &emsp;
                            <br><br>
                            <h1 class="margen">CREAR DIRECTORES</h1>
                            <br><br>
                             {% if myform.errors %}

                            <p style="color: greenyellow;"> Revisar los datos loquito </p>

                            {% endif %}

        <form method="POST">{% csrf_token %}

        <!-- Acta está la relacion de Formulario de DJANGO reemplazando a el HTML Form-->

                            <table>

                {{ form.as_p }}

                            </table>

                            <input type="submit" value="INGRESAR">

                             </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
        </div>
    </div>

{% endblock contenido%}

<!-- </body>

</html> -->