{% extends 'main-template2.html' %}

    {% block contenido %}
    <br>
    {% if request.user.is_staff %}     
        <a href='{% url "Actors" %}'>Crear nuevo actor </a> &emsp;
    {% endif %}
        <br><br><br>
        <h4>BUSCAR UN ACTOR</h4>
        <p>Ingresá su nombre, apellido o nacionalidad!</p>

    
        <form action= "/cineproyecto/find-actor-get/" method="GET">

            <input type="text" name = "name"> 
            <input type="submit" value="BUSCAR">

        </form>
        <br><br><br>
    {% endblock contenido %}